CSIS425/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
CSIS425.Tests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
CSIS425.Tests/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
CSIS425.Tests/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
CSIS425.Tests/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
CSIS425/obj/Debug/build.force
CSIS425/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
CSIS425/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
CSIS425/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
CSIS425/bin/Iesi.Collections.dll
CSIS425/bin/LinFu.DynamicProxy.dll
CSIS425/bin/log4net.dll
CSIS425/bin/NHibernate.ByteCode.LinFu.dll
CSIS425/bin/NHibernate.dll
CSIS425/bin/nunit.framework.dll
