CSIS425/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
CSIS425.Tests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
CSIS425.Tests/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
CSIS425.Tests/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
CSIS425.Tests/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
CSIS425/obj/Debug/build.force
CSIS425/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
CSIS425/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
CSIS425/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
CSIS425/bin/Iesi.Collections.dll
CSIS425/bin/LinFu.DynamicProxy.dll
CSIS425/bin/log4net.dll
CSIS425/bin/NHibernate.ByteCode.LinFu.dll
CSIS425/bin/NHibernate.dll
CSIS425/bin/nunit.framework.dll
CSIS425.v12.suo
CSIS425.v12.suo
CSIS425.v12.suo
*.dll
CSIS425.Tests/bin/Debug/CSIS425.Tests.dll.config
CSIS425.Tests/bin/Debug/CSIS425.Tests.pdb
CSIS425.Tests/bin/Debug/Newtonsoft.Json.xml
CSIS425.Tests/bin/Debug/System.Web.Helpers.xml
CSIS425.Tests/bin/Debug/System.Web.Mvc.xml
CSIS425.Tests/bin/Debug/System.Web.Razor.xml
CSIS425.Tests/bin/Debug/System.Web.WebPages.Deployment.xml
CSIS425.Tests/bin/Debug/System.Web.WebPages.Razor.xml
CSIS425.Tests/bin/Debug/System.Web.WebPages.xml
CSIS425.Tests/obj/Debug/CSIS425.Tests.csproj.FileListAbsolute.txt
CSIS425.Tests/obj/Debug/CSIS425.Tests.pdb
CSIS425/bin/Antlr3.Runtime.pdb
CSIS425/bin/CSIS425.dll.config
CSIS425/bin/CSIS425.pdb
CSIS425/bin/EntityFramework.SqlServer.xml
CSIS425/bin/EntityFramework.xml
CSIS425/bin/Microsoft.AspNet.Identity.Core.xml
CSIS425/bin/Microsoft.AspNet.Identity.EntityFramework.xml
CSIS425/bin/Microsoft.AspNet.Identity.Owin.xml
CSIS425/bin/Microsoft.Owin.Host.SystemWeb.xml
CSIS425/bin/Microsoft.Owin.Security.Cookies.xml
CSIS425/bin/Microsoft.Owin.Security.Facebook.xml
CSIS425/bin/Microsoft.Owin.Security.Google.xml
CSIS425/bin/Microsoft.Owin.Security.MicrosoftAccount.xml
CSIS425/bin/Microsoft.Owin.Security.OAuth.xml
CSIS425/bin/Microsoft.Owin.Security.Twitter.xml
CSIS425/bin/Microsoft.Owin.Security.xml
CSIS425/bin/Newtonsoft.Json.xml
CSIS425/bin/Microsoft.Owin.xml
CSIS425/bin/System.Web.Helpers.xml
CSIS425/bin/System.Web.Optimization.xml
CSIS425/bin/System.Web.Razor.xml
CSIS425/bin/System.Web.WebPages.Deployment.xml
CSIS425/bin/System.Web.WebPages.Razor.xml
CSIS425/bin/System.Web.WebPages.xml
CSIS425/obj/Debug/CSIS425.csproj.FileListAbsolute.txt
CSIS425/obj/Debug/CSIS425.csprojResolveAssemblyReference.cache
CSIS425/obj/Debug/CSIS425.pdb
