        body {
          background-color: white;
          background-image:url('/Images/backgroundBasketLow.jpg');
        }

        h1 {
            position: absolute;
            height:60px;
            width:390px;
            left: 40px;
            z-index: 2;
            
            margin: 0 0 0 0;
            padding-top: 20px;
            
            background:#3d8ccb;
            
            text-align: left;
            padding-left: 90px;
            color: #ffffcc;
            font-family: Helvetica, sans-serif;
            font-size: 30px;
        }

       h1:hover {
            position: absolute;
            height:60px;
            width:390px;
            left: 40px;
            z-index: 2;
            
            margin: 0 0 0 0;
            padding-top: 20px;
            
            background:#f26522;
            
            text-align: left;
            padding-left: 90px;
            color: #ffffcc;
            font-family: Helvetica, sans-serif;
            font-size: 30px;
        }
        h2 {
            text-align: left;
            color: #ffffcc;
            font-family: Helvetica, sans-serif;
            font-size: 20px;
            margin: 4px 0 0 0;
            height:32px;
            width:390px;

            position: absolute;
            top: 15px;
            padding-top:5px;
            padding-left: 90px;
            background-color: #008f37;
        }

        #card{
            width: 480px;
            height:700px;
            background-color: #31a354;
            position: absolute;
            top: 70px;
            left: 40px;
            z-index:1;
        }

 
        .pButtons{
            text-align:left;
            color: #ffffcc;
            font-size: 17px;
            font-family: Helvetica, sans-serif;
            position: absolute;
            top: 75px;
            
            padding-left: 90px;
        }

       .textBox{
            width:200px;
            height: 24px;
            font-size: 17px;
            font-family: Helvetica, sans-serif;
            border-color: #3d8ccb;
            border-width:2px;
            border-style: solid;
            margin-top: 2px;
            background-color:#ffffcc;
        }

        .textBox:focus{
            border-color: #f26522;
            border-width:2px;
            border-style: solid;
            margin-top: 2px;
            background-color:#ffffcc;
        }

        button{
            font-size:17px;
            margin: 4px 0 0 0;
            color: #ffffcc;
            font-family: Helvetica, sans-serif;
            text-align:center;
            height:48px;
            width: 140px;
            background-color:#3d8ccb;
        }

        button:hover{
              font-size:17px;
            margin: 4px 0 0 0;
            color: #ffffcc;
            font-family: Helvetica, sans-serif;
            text-align:center;
            height:48px;
            width: 140px;
            background-color:#f26522;
        }
     
        .main{
            font-size:21px;
            margin: 4px 0 0 0;
            color: #ffffcc;
            font-family: Helvetica, sans-serif;
            text-align:center;
            height:48px;
            width: 240px;
            background-color:#3d8ccb;
        }

        .main:hover{
            font-size:21px;
            margin: 4px 0 0 0;
            color: #ffffcc;
            font-family: Helvetica, sans-serif;
            text-align:center;
            height:48px;
            width: 240px;
            background-color:#f26522;
        }
        #CreateCourse{
            font-size:15px;
            margin-left:150px;
        }

        #btnSubmit{
            text-align:center;
        }

        footer{
            background:url('/Images/download.jpg') no-repeat;
            width:100%;
            height:100%;
            background-size: 75% 100%;
            background-position:center;
        }

  
        #start{
            font-size:17px;
            margin: 4px 0 0 0;
            color: #ffffcc;
            font-family: Helvetica, sans-serif;
            text-align:center;
            height:48px;
            width: 140px;
            background-color:#3d8ccb;
            position: absolute;
            top:420px;
            left: 90px;
        }

          #start:hover{
            font-size:17px;
            margin: 4px 0 0 0;
            color: #ffffcc;
            font-family: Helvetica, sans-serif;
            text-align:center;
            height:48px;
            width: 140px;
            background-color:#f26522;
            position: absolute;
            top:420px;
            left: 90px;
        }

        a:link { color:red; text-decoration:none}
        a:visited { color:red; text-decoration:none }
        a:hover { color:red; text-decoration:none }